task_DEV-11/WebServiceConsumer/Web References/DateConverter/DateConverter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertDateIntoDays">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertDateIntoDaysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertDateIntoDaysResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertDateIntoDaysSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertDateIntoDays" />
  </wsdl:message>
  <wsdl:message name="ConvertDateIntoDaysSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertDateIntoDaysResponse" />
  </wsdl:message>
  <wsdl:portType name="DateConverterSoap">
    <wsdl:operation name="ConvertDateIntoDays">
      <wsdl:input message="tns:ConvertDateIntoDaysSoapIn" />
      <wsdl:output message="tns:ConvertDateIntoDaysSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DateConverterSoap" type="tns:DateConverterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertDateIntoDays">
      <soap:operation soapAction="http://tempuri.org/ConvertDateIntoDays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DateConverterSoap12" type="tns:DateConverterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertDateIntoDays">
      <soap12:operation soapAction="http://tempuri.org/ConvertDateIntoDays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DateConverter">
    <wsdl:port name="DateConverterSoap" binding="tns:DateConverterSoap">
      <soap:address location="http://localhost:53010/DateConverter.asmx" />
    </wsdl:port>
    <wsdl:port name="DateConverterSoap12" binding="tns:DateConverterSoap12">
      <soap12:address location="http://localhost:53010/DateConverter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>